*{
    font-family: '微軟正黑體';
    font-weight: bold;
    margin: 0;
    padding: 0;
}
*:focus{
    outline:none;
    box-shadow: -3px 3px 3px aqua,3px -3px 3px aqua,
    3px 3px 3px aqua,-3px -3px 3px aqua;
}
body{
    background:#ff8800 ;;
}
.container{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
    height: 100%;
    
}
.header{
    
    display: flex;
    width: 320px;
    font-size: 50px;
    margin: 0 auto;
    height: 100px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.app{
    display: grid;
    grid-template-columns: minmax(200px,1fr) auto minmax(400px,3fr);
    column-gap: 30px;
    box-sizing: border-box;
    border:2px solid gold;
    width: 100%;
    height: 50%;
}
.menu{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border-right: 2px solid gold;
    width: 200px;
    align-items: center;
    

}
.title{
    box-sizing: border-box;
    display: flex;
    margin-top: 40px;
    align-items:center;
    justify-content: center;
    height: 400px;
    width:100%;
}
.title > ul > li{
    font-size: 40px;
}
.title > h2{
    writing-mode: vertical-rl;
    font-size: 40px;
    
}
.menu > ul{
    height: 150px;
    margin: 10px;
	padding: 0;
	border: 0;
	font-size: 100%;
    list-style: none;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}
.menu > ul > li > button{
    margin-top: 35px;
    border-radius: 999em;
    border: none;
    height: 40px;
    width: 130px;
    background-color:#AA7700;
    color: #fff;
    font-size: 20px;
}
.menu > ul > li > button:hover{
    color:#000;
}
.body{
    padding-top: 30px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}
.note{
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    justify-content: start;
}
.note > .notitle{
    font-size: 50px;
    font-weight: bold;
    margin: 0;
}
.note > .notenew{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.note button{
    margin-left: 10px;
    border: none;
    height: 30px;
    width: 90px;
    font-size: 20px;
    font-weight: bold;
    background-color: #aa7700;
    color: #fff;
    border-radius: 999em;
}
.notenew > input{
    padding-left: 20px;
    border-radius: 1em;
    font-size: 20px;
    border: none;
    color: #fff;
    height: 30px;
    width: 60%;

    background-color: #aa7700;
}

.newnote li{
    display: flex;
    margin-top: 10px;
    font-size: 20px;
    border-radius: 0.7em;
    border-bottom: honeydew solid 2px;
    padding-left: 20px;
    
}
.newnote  > li:hover{
    background: #000;
    color: #fff;
}
.newnote > li > button{
    height: 100%;
    width: 80px;
}
.newnote > li:hover > button{
    background-color: bisque;
    color: black;
}
.timesetting{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.timesetting > label{
    font-size: 50px;
    font-weight: bold;

}
.timesetinp{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    flex-direction: row;
}
.timesetinp > input{
    padding-left: 20px;
    height: 30px;
    width: 50%;
    font-size: 20px;
    border-radius: 9em;
    border: none;
    color: #fff;
    background-color: #aa7700;
}
.timesetinp label{
    margin-left: 20px;
    font-size: 30px;
}
.timesetting .stn{
    margin-top: 40px;
    margin-right:100px;
    background-color: #aa7700;
    color: #fff;
    font-size: 20px;
    width: 50%;
    height: 60px;
    border:none;
    border-bottom: #fff solid 2px;
    border-radius: 9rem;

}
.timesetting .stn:hover{
    width: 60%;
    height: 70px;
    font-size: 30px;
}
.cycle{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cycle > h1{
    font-size: 50px;
    font-weight: bold;

}
.cycinp{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}
.cycinp > input{
    font-size: 20px;
    height: 30px;
    width: 50%px;
    background-color: #AA7700;
    border:none;
    border-radius: 9em;
    padding-left: 20px;
    color:#fff;
}
.cycinp > label{
    font-size: 30px;
    font-weight: bold;
    margin-left: 20px;
}
.cycle > button{
    border-radius: 9em;
    font-weight: bold;
    margin-top: 30px;
    height: 50px;
    width: 40%;
    border:none;
    border-bottom: #fff 2px solid;
    background-color: #aa7700;
    font-size: 30px;
}.cycle > button:hover{
    height: 60px;
    width: 50%;
    font-size: 40px;
}
.alarm{
    
    border-left: 2px solid gold;
    
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    

    
}
.circle{
    display: flex;
    align-items: center;
    align-content: space-between;
    justify-content: center;
    flex-direction: column;
    border: 10px solid gold ;
    width:60%;
    height: 60%;
    border-radius: 999em;
    margin-left: auto;
    margin-right: auto;
}
.timer{
    display: flex;
    flex-direction: column;

    color: #ddd;
    font-size: 50px;
    align-items: center;
}
.timer span{
    margin-top: 10px;

}
.start{
    border: none;
    display: flex;
    justify-content: center;
    background-color:#AA7700;
    color: #fff;
    font-size: 20px;
    height: 15%;
    width: 60%;
    border-radius: 9em;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5%;
}

.start:hover{
    margin-top: 4%;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}